#app{
    height: 100vh;
    width: 100%;
}
:root {
    --card-bg: #112030;
    --header-h: 80px;
    --main-h: calc(100vh - 80px);
}

body {
    background-color: #1D2D3C;
}


header{
    background-color: #06131F;
    height: var(--header-h);
}

main{
    height: var(--main-h);
    overflow-y: auto;
}

section{
    height: 100%;
}

img{
    max-width: 80%;
}

section img{
    max-width: 40px;
}


.ms_container{
    width: 60%;
    margin: 0 auto;
    gap: 40px;
}

.card {
    background-color: #06131F;
    width: calc(100% / 3 - 40px);
    border: 1px solid red;
}